@font-face {
	font-family: "Dogica";
	src: url("/src/assets/fonts/dogica.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Dogica";
	src: url("/src/assets/fonts/dogicabold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "DogicaPixel";
	src: url("/src/assets/fonts/dogicapixel.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DogicaPixel";
	src: url("/src/assets/fonts/dogicapixelbold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
